[submodule "ext/progressive-x"]
	path = ext/progressive-x
	url = git@github.com:Tetchki/progressive-x.git
[submodule "ext/DeepLSD"]
	path = ext/DeepLSD
	url = git@github.com:Tetchki/DeepLSD.git
[submodule "ext/SSIS"]
	path = ext/SSIS
	url = git@github.com:stevewongv/SSIS.git
[submodule "ext/Depth-Anything-V2"]
	path = ext/Depth-Anything-V2
	url = git@github.com:Tetchki/Depth-Anything-V2.git
[submodule "ext/PerspectiveFields"]
	path = ext/PerspectiveFields
	url = git@github.com:Tetchki/PerspectiveFields.git
[submodule "ext/GeoCalib"]
	path = ext/GeoCalib
	url = git@github.com:Tetchki/GeoCalib.git
